asgiref==3.3.4
autopep8==1.5.4
certifi==2020.12.5
cloudinary==1.25.0
Django==3.2.2
djangorestframework==3.12.4
psycopg2==2.8.6
pycodestyle==2.6.0
pytz==2021.1
six==1.16.0
sqlparse==0.4.1
urllib3==1.26.5
wincertstore==0.2
